.gray-light{
    background-color: 	#b4b4b4;
}

.tourquise{
    background-color: #67b1ad;
}

.blue{
    background-color: #7acef8;
}

.white{
    background-color: #ffffff;
}

.gray{
    background-color: #aaaaaa;
}

.torqouise-light{
    background-color: #ccf1f6;
}

.gray-light-light{
    background-color: #eee;
}

.orange{
    background-color: #ffe833;
    opacity: 0.6;
}